{
	"root": true,
	"extends": [
		"@calmdownval/eslint-config",
		"@calmdownval/eslint-config/typescript"
	],
	"env": {
		"es6": true,
		"node": true
	},
	"rules": {
		"require-atomic-updates": "off"
	},
	"ignorePatterns": [
		"rollup.config.js"
	]
}
